#### LOAD NIX ENVIRONMENT ####

# Use nix-direnv for caching/persistence:
if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

# Allow unfree packages (for closed-source VS Code extensions):
export NIXPKGS_ALLOW_UNFREE=1

# Disable Boehm garbage collection on Macs to prevent seg-fault
if [[ "$(uname)" == "Darwin" ]]; then
  export GC_DONT_GC=1
fi

# Load the Nix environment from flake.nix:
use flake . --impure --accept-flake-config

# Create symlink to HLS binary to prevent buggy VS Code/Codium behavior (conflict with GHCup binaries)
ln -s -f $(which haskell-language-server) .vscode/haskell-language-server.link

# Source Cardano Guru environment if not already loaded (makes Guru commands available from project root)
export JAMB_ENV_LOADED=true
if [[ $GURU_ENV_LOADED != true ]]; then
  source_env "$PROJECT_ROOT/cardano-cli-guru"
fi

#### .ENV CONFIG ####

# Create .env file with default environment variables if absent:
if [ ! -f .env ]; then
  touch .env
  cat <<EOF >> .env
VIM_MODE=false
EOF
fi
# Source and watch the .env file:
dotenv
watch_file .env

